﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="firstRout.aspx.cs" Inherits="KhabarGah.BLL.Rout.firstRout" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <%Response.Write(myResult); %>
    </div>
    </form>
</body>
</html>
