﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="secondRout.aspx.cs" Inherits="KhabarGah.BLL.Rout.secondRout" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
   <div>
    <%Response.Write(myResult); %>
    </div>
</body>
</html>
