﻿#myDiv 
{
    direction:rtl;
}.lastNewsImage {
height: 93px;
position: absolute;
max-width: 125px;
z-index: 7000;
right: 5px;
top: 5px;
bottom: 0;
opacity: 0.8; -webkit-transition: all ease-in-out 0.2s;
-moz-transition: all ease-in-out 0.2s;
-o-transition: all ease-in-out 0.2s;
transition: all ease-in-out 0.2s;
}
    .lastNewsImage:hover {
    opacity: 1;
   -webkit-transition: all ease-in-out 0.2s;
-moz-transition: all ease-in-out 0.2s;
-o-transition: all ease-in-out 0.2s;
transition: all ease-in-out 0.2s;
    }
 .right-NewsBlocks {
float: right;
position: relative;
height: 100%;
width: 129px;
}
 .left-NewsBlocks {
float: left;
width: 239px;
padding: 7px;
font-family: BYekan;
font-size: 13px;
float: right;
direction: rtl;
}
 .left-NewsBlocks-tile {
float: right;
direction: rtl;
}
 .NewsFeatures {
position: absolute;
left: 5px;
bottom: 2px;
}