@font-face {
  font-family: 'BYekan';
  src: url('../fonts/Yekan.eot?#') format('eot'),  /* IE6–8 */
       url('../fonts/Yekan.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../fonts/Yekan.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
@font-face {
  font-family: 'BRoya';
  src: url('../fonts/BRoya.eot?#') format('eot'),  /* IE6–8 */
       url('../fonts/BRoya.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../fonts/BRoya.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
a {
text-decoration: none;
-webkit-transition: all ease-in-out 0.2s;
-moz-transition: all ease-in-out 0.2s;
-o-transition: all ease-in-out 0.2s;
transition: all ease-in-out 0.2s;
color: #8b8d8b;
}
a:hover
{
	color:#000000;
}
body
{
	background-color: #eeeeee;
	margin:0;
	padding: 0;
}
#header
{
	height: 53px;
	width:100%;
	background-color: #fafafa;
	border-bottom: 1px solid transparent;
	padding-top: 1px;
	z-index: 5;
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,.2);
	box-shadow: 0 1px 5px rgba(0,0,0,.2);
	position: absolute;
	top:0;
}
#body
{
	width: 100%;
	height:auto;
	position: absolute;
top: 54px;
border-top: 1px solid #eee;
}
#total
{
	height:1000px;
	width: 100%;
}
#rightSideBar
{
	box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
	width:31%;
	height: 1000px;
	background-color: #fafafa;
	float: right;
	border-left: 1px solid #e1e1e1;
}
#leftSideBar
{
	box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
	width:17%;
	height: 1000px;
	float:left;
	border-right: 1px solid #e1e1e1;
}
#center
{
	width: 52%;
	height:1000px;
	float:right;
}
@media (max-width:1000px) 
{ 
	#header
	{
		width:1000px;	
	}
	#body
	{
		width: 1000px;
	}
	#total
	{
		width: 1000px;
	}
	#center
	{
		width: 520px;
	}
	#leftSideBar
	{
		width:170px;
	}
	#rightSideBar
	{
		width:310px;
	}
 }
 ul li
 {
 	list-style-type: none;
 }
 #login ul li span a
 {
 	color: #8b8d8b;
font-family: BYekan;
font-size: 14px;
position: relative;
top: -10px;
right: 3px;
 }
 #register ul li span a
 {
 	font-family: BYekan;
color: #8b8d8b;
font-size: 14px;
position: relative;
right: 16px;
 }
 #login
 {
 	float: right;
position: relative;
top: 11px;
right: 153px;
border-right: 1px solid #9a9b9a;
height: 34px;
 }
 #register
 {
 	float:right;
 	position: relative;
 	top:0;
 	right:50px;
 }
 #login ul
 {
 	padding: 0px;
 	margin: 0px;
 }
 #register ul
 {
 	padding: 0px;
 	margin: 0px;
 }
 #login ul li
 {
 	padding: 0px;
 	margin: 0px;
 }
 #register ul li
 {
 	padding: 0px;
 	margin: 0px;
 }
 #login ul
 {
 	padding: 0px;
margin: 0px;
display: block;
position: relative;
right: 12px;
top: -9px;
 }
 #register ul li img {
position: relative;
right: 14px;
top: 4px;
}
#login ul li img {
position: relative;
right: 9px;
}
#logo {
margin-left: 67px;
margin-top: 3px;
}
 #register ul li span a:hover
 {
 	cursor: pointer;
 	color:#000000;
 }
 #login ul li span a:hover
 {
 	color:#000000;
 	cursor: pointer;
 }
 #head
 {
 	direction: rtl;
	border-bottom: 1px solid #999b9a;
	width: 93%;
	display: block;
	margin: 15px auto;
 }
 #lastNews
 {
 	width: 93%;
 	height:1000px;
 	margin: 10px auto;
 }
 .NewsBlocks
 {
 	background-color: #fff;
	-webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.15);
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.15);
	margin-top:10px;
	width:100%;
	height:120px;
position: relative;
 }
 #NewsAgencies
 {
 	width: 97%;
height: auto;
background-color: #fafafa;
display: block;
margin: 10px auto;
border: 1px solid #e1e1e1;
 }
 #NewsAgencies ul li {
display: inline-block;
/*padding: 0 50px 0 45px;*/
padding: 10px 3% 0 3%;
font-family: BYekan;
color: #8b8d8b;
direction: rtl;
display: inline-block;
width: 117px;
}
 #NewsAgencies #NewsCategorySelection ul li {
width: 117px;
}
#NewsAgenciesHead
{
	direction: rtl;
	border-bottom: 1px solid #999b9a;
width: 97%;
display: block;
margin: 9px auto;
}
#NewsAgenciesHead #select
{
	margin-right: 8px;
}
#NewsCategorySelection 
{
    display:none;
}
#active 
{
    
    border-top: 3px solid #4285f4;
    color:black;
}
.selector:hover 
{
    width: 97%;
    border-top: 3px solid #646464;
}
.selector 
{
    width: 100%;
    text-align: center;
    font-family: BRoya;
    font-size: 17px;
    display:block;
    margin:0 auto;
border-top: 3px solid #fafafa;
cursor:pointer;
color: #8b8d8b;
}
#selectionNavigator 
{
width: 54%;
height: 32px;
float: left;
position: relative;
top: 18px;
border-top: 1px solid #e1e1e1;
}
#categorySelectionNavbar
{
    width:50%;
    height:100%;
    float:left;
}
#AgencySelectionNavbar
{
    width:50%;
    height:100%;
    float:right;
}

/*nuttonssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss*/
.myButton {
width: 87px;
height: 30px;
font-family: BYekan;
background: #ffffff;
border: 1px solid #8b8d8b;
border-radius: 3px 3px 3px 3px;
color: #8b8d8b;
position: relative;
left: 65px;
margin-bottom: 11px;
}
.myButton:hover {
	color:#000000;
    cursor:pointer;
    -webkit-transition: all ease-in-out 0.2s;
-moz-transition: all ease-in-out 0.2s;
-o-transition: all ease-in-out 0.2s;
transition: all ease-in-out 0.2s;
border: 1px solid #000000;
}
.myButton:active {
	
}
/*nuttonssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss*/
/*///////////////////////////////////////////////*/


						input[type=checkbox].css-checkbox + label.css-label {
							padding-left:25px;
							height:18px; 
							display:inline-block;
							line-height:18px;
							background-repeat:no-repeat;
							background-position: 0 0;
							font-size:18px;
							vertical-align:middle;
							cursor:pointer;

						}

						input[type=checkbox].css-checkbox:checked + label.css-label {
							background-position: 0 -18px;
						}
						label.css-label {
				background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_ad62e3e546ebe31574618850a2a24e41.png);
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}
			#checkboxG1 {
position: relative;
left: 1px;
top: 3px;
}
/*///////////////////////////////////////////////////*/